DATABASE_URL="postgresql://diblong:diblong@localhost:11433/diblong?schema=public"
JWT_ACCESS_SECRET="change-me-access-secret-min-32-chars-long"
JWT_REFRESH_SECRET="change-me-refresh-secret-min-32-chars-long"
JWT_ACCESS_TTL="15m"
JWT_REFRESH_TTL="7d"
WEB_ORIGIN="http://localhost:4200"
PORT=3007
UPLOAD_DIR="./uploads"
